:root {
  --white: #FFFFFF;
  --white-01: #F8F8F8;
  --black: #231F20;
  --light-grey: #474747;
  --dark-grey: #3D4045;
  --grey: #A4A4A4;
  --cold-grey: #D7E1E9;
  --milky: #FCFCDE;
  --green: #768A69;
  --grey-for-mail-alert: #C1BBB74D;
  --red: #F0663A;
}
